@page
@model AliveStoreTemplate.Pages.MemberPages.RegisterLoginPagecshtmlModel
@{
    ViewData["Title"] = "RegisterLoginPage";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
<article class="page RegisterLoginPage">
    <div class="container">
        <div class="row">
            @*<div class="ui three item menu">
                <a class="item">
                    <font style="vertical-align:inherit">
                        <font style="vertical-align:inherit">
                            登入
                        </font>
                    </font>
                </a>
                <a class="item">
                    <font style="vertical-align:inherit">
                        <font style="vertical-align:inherit">
                            註冊
                        </font>
                    </font>
                </a>
                <a class="item">
                    <font style="vertical-align:inherit">
                        <font style="vertical-align:inherit">
                            忘記密碼
                        </font>
                    </font>
                </a>
            </div>*@
        </div>
    </div>
</article>
