@page
@model AliveStoreTemplate.Pages.LoginModel
@{
    ViewData["Title"] = "Login";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
<article class="page RegisterLoginPage">
    <div class="container">
        <div class="row">
            <div class="col-8">
                <div class="ui center aligned basic segment">
                    <div class="ui left icon action input">
                        <div class="column">
                            <form class="ui form" id="LoginForm">
                                <div class="field">
                                    <label>Username</label>
                                    <div class="ui left icon input">
                                        <input type="text" name="account" placeholder="請輸入信箱">
                                        <i class="user icon"></i>
                                    </div>
                                </div>
                                <div class="field">
                                    <label>Password</label>
                                    <div class="ui left icon input">
                                        <input type="password" name="password">
                                        <i class="lock icon"></i>
                                    </div>
                                </div>
                                <div>
                                    <p id="notice">

                                    </p>
                                </div>
                                <div class="ui blue submit button">登錄</div>
                            </form>
                        </div>
                    </div>
                    <div class="ui horizontal divider">
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">
                                或者
                            </font>
                        </font>
                    </div>
                    <div class="middle aligned column">
                        <a asp-page="./Register">
                            <div class="ui big button">
                                <i class="signup icon"></i>
                                註冊
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</article>

<script>
    $(function(){
        $('#LoginForm')
            .form({
                on:'blur',
                field:{
                    account:{
                        identifier: 'account',
                        rules: [
                            {
                                type: 'empty',
                                prompt: '帳號不可以為空'
                            }
                        ]
                    },
                    password: {
                        identifier: 'password',
                        rules: [
                            {
                                type: 'empty',
                                prompt: '密碼不可以為空'
                            },
                            {
                                type   : 'minLength[6]',
                                prompt : '你必須輸入 {ruleValue} 字元'
                            }
                        ]
                    }
                },
                onSuccess: function (event) {
                    event.preventDefault();
                    return false;
                }
        })
            .api({
                url: '@Url.Action("Login","MemberInfo")',
                method:'POST',
                serializeForm: true,
                data: new FormData(),
                onSuccess: function (response) {
                    console.log(response)
                    window.location = "./Home"
                },
                onFailure: function(response) {
                    console.log(response)
                    $('#notice').html(response)
                }
            })
    })
</script>
