@page
@model AliveStoreTemplate.Pages.orderModel
@{
    ViewData["Title"] = "order";
    Layout = "~/Pages/Shared/_LayoutNew.cshtml";
}
 @*order 订单*@
<article class="page order">
    <div class="content-con">
        <h2 class="page-tit"><em>訂單列表</em><span>你的歷史訂單</span></h2>
        <section class="order-list">
            <table class="tab-basic">
                <thead>
                    <tr>
                        <th class="td-left">訂單編號</th>
                        <th>付款狀態</th>
                        <th>物流狀態</th>
                        <th>總金額</th>
                    </tr>
                </thead>
                <tbody id="orderlisttbody">
                    
                </tbody>
            </table>
        </section>
    </div>
</article>

<script>
    $(function(){
        $.ajax({
            type:"Get",
            url:"@Url.Action("GetOrderList","Order")",
            dataType:"json",
            //// 告訴jQuery不要去處理發送的資料
            //processData : false, 
            // 告訴jQuery不要去設定Content-Type請求頭
            contentType : 'application/json;charset=UTF-8', //contentType很重要 
            success:function(response){
                console.log(response)
                response.results.forEach(x => {
                    var EachTr = $(`<tr></tr>`)
                    EachTr.append(`<td>
                                 <a onclick="OpenDetail()" data-value="${x["orderId"]}">${x["orderNumber"]}</a>
                                </td>
                                <td class="td-status">
                                    <span class="status-solved">已完成</span>
                                </td>
                                <td class="td-trans">待出貨</td>
                                <td class="td-price"><span>${x["payPrice"]}</span></td>`)
                    $("#orderlisttbody").append(EachTr);
                })
            },
            error:function(response){
                console.log(response)
                location.href = "./Login"
            }
        })
    })

    function OpenDetail(){
        console.log("打開訂單詳情")
        let orderId = $this.data("value")
        window.location.href = "order_detial?orderId="+orderId
    }
</script>